<div class="field" (click)="edit=true;clearPlaceholder();"
     jhiClickOutside (clickOutside)="onClickOutSide($event);"
     (mouseover)="over=true;" (mouseout)="over=false;">
    <div *ngIf="stringType || currencyType">
        <mat-form-field class="width-max" *ngIf="(edit || over) && !readonlyMode;else valueContainer">
            <input  matInput class="payment-input" type="getInputType()" (change)="onChangeValue(value)" [(ngModel)]="value" name="value">
            <span *ngIf="currencyType" matPrefix>$&nbsp;</span>
        </mat-form-field>
    </div>
    <ng-template #valueContainer>
        <div *ngIf="stringType" class="text-center width-max payment-value">{{ value }}</div>
        <div *ngIf="currencyType" class="text-center width-max payment-value">{{ value | currency }}</div>
    </ng-template>
</div>
