@import './../../../../../content/scss/custom-variables';

.payment-input-number {
    text-align: center;
    margin-left: 0.5px;
    color: $payment-block-color-input;
}

.payment-input {
    text-align: center;
    margin-left: 0px;
    color: $payment-block-color-input;
}

.payment-value {
    margin-bottom: 6px;
    color: $payment-block-color-input;
}

.field {
    padding-top: 10px;
}


.notes {
    padding-left: 10px;
    padding-right: 10px;
}

.notes-style {
    font-style: italic;
    color: $payment-block-color-input;
    border: 0px;
    width: 100%;
    margin-bottom: 5px;
    height: 22px;
}

.note-value {
    margin-left: 0px;
}

.note-area {
    margin-top: 1px;
    background: transparent;
    border: none;
}

.notesHead {
    font-weight: bold;
    margin-right: 10px;
    padding-left: 15px;
    color: $payment-block-color-input;
    margin-bottom: 5px;
}

.notes-add-payment {
    z-index: 2;
    overflow: unset;
}
