<div class="card-account-content d-flex">
    <div class="d-flex p-4 content" [routerLink]="['/accounts/details', account.id]">
        <div class="name" id="name">{{ account.name }}</div>
        <div id="username">{{ account.username }}</div>
    </div>
    <div class="d-flex actions justify-content-between">
        <i class="fa-star" [class.far]="!account.featured"
           [class.fas]="account.featured"  aria-hidden="true"
           (click)="makeFeatured(account)"></i>
        <i class="fas fa-pencil-alt" aria-hidden="true" [routerLink]="['/accounts/edit', account.id]"></i>
    </div>
</div>
