<h2 mat-dialog-title jhiTranslate="ninjaccountApp.accountsDB.details.deletePopup.title">Delete this account</h2>
<mat-dialog-content jhiTranslate="ninjaccountApp.accountsDB.details.deletePopup.text">Are you sure?</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ "ninjaccountApp.accountsDB.details.deletePopup.no" | translate }}</button>
    <button mat-button [mat-dialog-close]="true" (click)="onDelete()">{{ "ninjaccountApp.accountsDB.details.deletePopup.yes" | translate }}</button>
</mat-dialog-actions>
