@import '../../../../content/scss/custom-variables';

.ico-account {
    color: $solocked-primary-color;
    font-size: 25px;
    margin-right: 10px;
}

.hide {
    display: none;
}

.search {
    cursor: pointer;
    font-size: 20px;
}

.cross {
    font-size: 25px;
    cursor: pointer;
}

.autocomplete-width {
    width: 270px;
}

.placeholder-cross {
    width: 18.75px;
}
