<div *ngIf="showSearch" [@appear] class="d-flex justify-content-center align-items-center">
    <form name="searchForm width-max" role="form" (ngSubmit)="onHomePageSearch(searchControl.value)" novalidate>
        <div class="d-flex align-items-center">
            <mat-form-field class="width-max autocomplete-width">
                <input type="text" matInput [formControl]="searchControl" placeholder="{{ 'global.menu.search' | translate }}" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAccountSelected($event)" [displayWith]="displayFn">
                    <mat-option *ngFor="let account of filteredAccounts | async" [value]="account">
                        <fa-icon [icon]="['fas', 'unlock-alt']" class="ico-account"></fa-icon>
                        <span>{{ account.name }}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <fa-icon [icon]="['fas', 'search']" class="ml-2 search" (click)="onHomePageSearch(searchControl.value)"></fa-icon>
            <fa-icon [icon]="['fas', 'times']" class="ml-2 cross"
                     [class.hide]="searchControl.value == null || searchControl.value.length == 0"
                     (click)="clearSearch()"></fa-icon>
            <span class="ml-2 placeholder-cross"
                  [class.hide]="searchControl.value == null || searchControl.value.length != 0"></span>
        </div>
    </form>
</div>
