.load-more {
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.search {
    width: 100%;
}

.clear{
    font-size: 20px;
    cursor:pointer;
}

.emptyContainer{
    font-size: 18px;
    height: 200px;
}
