<div class="card text-center">
  <div class="card-header">
      <span>Home</span>
      <span *ngIf="payment$ | async as payment">
          {{ payment.paid }}
      </span>
  </div>
  <div class="card-body">
    <h4 class="card-title">Accounts Database</h4>
    <p class="card-text">Welcome to your database</p>
    <div class="row">
      <div class="col-4 col-md-4"></div>
      <div class="col-4 col-md-4">
        <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Search...">
      </div>
      <div class="col-4 col-md-4" style="text-align: left;">
        <button type="button" class="btn btn-outline-primary" id="addAccount" [routerLink]="['/accounts/add']">Add a new account</button>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-4"></div>
      <div class="col-4 col-md-4">
        <div>
          <table class="table table-hover table-striped" style="text-align: left;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Actions</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of (accounts$ | async | tagsFilter:filter:'tags')">
                <td>{{ account.name }}</td>
                <td>{{ account.username }}</td>
                <td style="width: 10%; text-align:center;"><i class="fa fa-eye" [routerLink]="['/accounts/details', account.id]" style="font-size: 23px; color: #0275d8; cursor: pointer;" aria-hidden="true"></i></td>
                <td style="width: 10%;"><i class="fa fa-pencil" [routerLink]="['/accounts/edit', account.id]" style="font-size: 23px; color: #0275d8; cursor: pointer;" aria-hidden="true"></i></td>
                <td style="width: 10%;"><i class="fa fa-trash-o" (click)="onDelete(account.id)" style="font-size: 23px; color: #0275d8; cursor: pointer;" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4 col-md-4" style="text-align: left;">
      </div>
    </div>

  </div>
</div>
