.load-more {
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.search {
    width: 100%;
}

.clear {
    font-size: 20px;
    cursor: pointer;
}

.emptyContainer {
    font-size: 18px;
    height: 200px;
}

.see-all {
    position: inherit;
    z-index: 2;
    width: 0px;
    float: right;
    margin-top: 10px;
}

/deep/ .mat-input-placeholder{
    color: grey;
    font-size: 18px!important;
}
