.load-more {
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.search {
    width: 100%;
}

.clear {
    font-size: 20px;
    cursor: pointer;
}

.emptyContainer {
    font-size: 18px;
    height: 200px;
}

.see-all {
    z-index: 3;
}

/deep/ .mat-input-placeholder {
    color: grey;
    font-size: 18px !important;
}

.tab {
    transform: translate(0px, -40px);
}
