<div>
    <h2 id="page-heading">
        <span jhiTranslate="ninjaccountApp.accountsDB.home.title">Accounts DBS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accounts-db" [routerLink]="['/accounts-db/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ninjaccountApp.accountsDB.home.createLabel">
            Create new Accounts DB
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="accountsDBS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ninjaccountApp.accountsDB.initializationVector">Initialization Vector</span></th>
            <th><span jhiTranslate="ninjaccountApp.accountsDB.database">Database</span></th>
            <th><span jhiTranslate="ninjaccountApp.accountsDB.nbAccounts">Nb Accounts</span></th>
            <th><span jhiTranslate="ninjaccountApp.accountsDB.sum">Sum</span></th>
            <th><span jhiTranslate="ninjaccountApp.accountsDB.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accountsDB of accountsDBS ;trackBy: trackId">
                <td><a [routerLink]="['/accounts-db', accountsDB.id, 'view' ]">{{accountsDB.id}}</a></td>
                <td>{{accountsDB.initializationVector}}</td>
                <td>
                    <a *ngIf="accountsDB.database" (click)="openFile(accountsDB.databaseContentType, accountsDB.database)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="accountsDB.database">{{accountsDB.databaseContentType}}, {{byteSize(accountsDB.database)}}</span>
                </td>
                <td>{{accountsDB.nbAccounts}}</td>
                <td>{{accountsDB.sum}}</td>
                <td>
                    {{accountsDB.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/accounts-db', accountsDB.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accounts-db', accountsDB.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'accounts-db', { outlets: { popup: accountsDB.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
