<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAccountsDBLabel" jhiTranslate="ninjaccountApp.accountsDB.home.createOrEditLabel">Create or edit a Accounts DB</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!accountsDB.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="accountsDB.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ninjaccountApp.accountsDB.initializationVector" for="field_initializationVector">Initialization Vector</label>
            <input type="text" class="form-control" name="initializationVector" id="field_initializationVector"
                [(ngModel)]="accountsDB.initializationVector"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ninjaccountApp.accountsDB.database" for="field_database">Database</label>
            <div>
                <div *ngIf="accountsDB.database" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(accountsDB.databaseContentType, accountsDB.database)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{accountsDB.databaseContentType}}, {{byteSize(accountsDB.database)}}</span>
                    <button type="button" (click)="accountsDB.database=null;accountsDB.databaseContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_database" (change)="setFileData($event, accountsDB, 'database', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="database" id="field_database"
                [(ngModel)]="accountsDB.database"  />
            <input type="hidden" class="form-control" name="databaseContentType" id="field_databaseContentType"
                [(ngModel)]="accountsDB.databaseContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ninjaccountApp.accountsDB.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="accountsDB.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
