<div class="row mb-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 id="title" jhiTranslate="billing.title">Billing</h1>
        <div class="row ml-0 mr-0 align-items-center container-infos mb-2 ">
            <div jhiTranslate="billing.label.subscriptiondate">Subscription date :</div>
            <div>{{ payment.subscriptionDate | date: 'mediumDate' }}</div>
        </div>
        <div class="row ml-0 mr-0 align-items-center container-infos mb-2">
                <div class="d-flex w-100">
                    <div jhiTranslate="billing.label.plantype">Plan type :</div>
                    <div>{{ planTypeLabel }}</div>
                </div>
        </div>
        <div *ngIf="payment.validUntil" class="row ml-0 mr-0 align-items-center container-infos mb-2">
            <div jhiTranslate="billing.label.validuntil">Valid until :</div>
            <div>{{ payment.validUntil | date: 'mediumDate' }}</div>
        </div>
        <div class="row ml-0 mr-0 align-items-center container-infos mb-2">
            <div jhiTranslate="billing.label.recurring">Recurring payment :</div>
            <div *ngIf="payment.recurring;else deactivate">
                {{ "billing.label.recurringtrue" | translate }}
            </div>
            <ng-template #deactivate>{{ "billing.label.recurringfalse" | translate }}</ng-template>
        </div>
        <div class="row mt-5">
            <div class="col-12 d-flex align-items-center justify-content-center flex-column">
                <button class="default-validation-button mb-3" [disabled]="payment.recurring" type="button" mat-raised-button color="primary" (click)="openChangePlan()">
                    {{"billing.change" | translate }}
                </button>
                <a mat-button class="mr-2" *ngIf="payment.recurring" (click)="onCancelSubscription()">{{'billing.cancel' | translate}}</a>
            </div>
        </div>
    </div>
</div>
