<div class="row mb-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 id="title" jhiTranslate="billing.title">Billing</h1>
        <div class="d-flex align-items-center container-infos mb-2">
            <div>Subscription date :</div>
            <div>{{ payment.subscriptionDate }}</div>
        </div>
        <div class="d-flex align-items-center container-infos mb-2">
            <div>Plan type :</div>
            <div>{{ payment.planType }}</div>
            <button class="change-plan ml-5" type="button" mat-raised-button color="primary" (click)="openChangePlan()">
                {{"billing.change" | translate }}
            </button>
        </div>
        <div *ngIf="payment.validUntil" class="d-flex align-items-center container-infos mb-2">
            <div>Valid until :</div>
            <div>{{ payment.validUntil }}</div>
        </div>
    </div>
</div>
