<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 id="title-accounts" jhiTranslate="import.title">Import data from another service</h1>
        <h3 id="title-select-type" jhiTranslate="import.subtitle1">Select your service</h3>
        <form [formGroup]="importForm" (ngSubmit)="onSubmitImport()">
            <mat-radio-group [formControl]="importType">
                <div class="row">
                    <div class="col-lg-4 mt-1">
                        <mat-card class="type-card-height">
                            <mat-card-content>
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <img src="../../../content/images/import/lastpass.png" class="img-lastpass">
                                    <div class="mt-1 placeholder-lastpass">placeholder</div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center radio-button-default">
                                    <mat-radio-button color="primary" (click)="onTypeSelected(TypeImport.LASTPASS)" [value]="TypeImport.LASTPASS"></mat-radio-button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-card class="type-card-height">
                            <mat-card-content>
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <img src="../../../content/images/import/1password.png" class="img-default">
                                    <div class="mt-1">1Password(Win)</div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center radio-button-default">
                                    <mat-radio-button color="primary" (click)="onTypeSelected(TypeImport.ONEPASSWORD)" [value]="TypeImport.ONEPASSWORD"></mat-radio-button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-card class="type-card-height">
                            <mat-card-content>
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <img src="../../../content/images/import/dashlane.png" class="img-default">
                                    <div class="mt-1">Dashlane</div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center radio-button-default">
                                    <mat-radio-button color="primary" (click)="onTypeSelected(TypeImport.DASHLANE)" [value]="TypeImport.DASHLANE"></mat-radio-button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-card class="type-card-height">
                            <mat-card-content>
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <i class="fas fa-file img-csv"></i>
                                    <div class="mt-1">CSV</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center radio-button-default">
                                    <mat-radio-button color="primary" (click)="onTypeSelected(TypeImport.CSV)" [value]="TypeImport.CSV"></mat-radio-button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-card class="type-card-height">
                            <mat-card-content>
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <img src="../../../content/images/import/keepass.png" class="img-keepass">
                                    <div class="mt-1">Keepass(CSV)</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center radio-button-default">
                                    <mat-radio-button color="primary" (click)="onTypeSelected(TypeImport.KEEPASS2)" [value]="TypeImport.KEEPASS2"></mat-radio-button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-radio-group>
            <div class="row mt-4 information-format" [hidden]="!displayCSVInformation">
                <div class="col-12">
                    <mat-card>
                        <mat-card-content>
                            <h5 jhiTranslate="import.titleinformation">Format informations</h5>
                            <p>
                                <span jhiTranslate="import.information.1">The header of the CSV file has to be in that format :</span>
                                <span class="font-weight-bold" jhiTranslate="import.information.2">Id,Name,Number,Username,Password,Notes,Fields,Tags,Url</span>
                            </p>
                            <p>
                                <span jhiTranslate="import.information.6">For custom fields, it has to be as follow : </span><br/>
                                <span jhiTranslate="import.information.7">Example : </span>
                                <span jhiTranslate="import.information.8" class="font-weight-bold">"fieldName1 - fieldValue1 / fieldname2 - fieldvalue2"</span><br/>
                                <span jhiTranslate="import.information.9">Example : </span>
                                <span jhiTranslate="import.information.10" class="font-weight-bold">"fieldName1 - fieldValue1 / fieldname2 - fieldvalue2"</span>
                            </p>
                            <p>
                                <span jhiTranslate="import.information.3">The tags has to be separated like this : "-" </span><br/>
                                <span jhiTranslate="import.information.4">Example :</span>
                                <span jhiTranslate="import.information.5" class="font-weight-bold">"my tags1 - my tags2 - myawesometags"</span>
                            </p>
                        </mat-card-content>
                </mat-card>
                </div>
            </div>
            <h3 class="title-upload" jhiTranslate="import.subtitle2">Upload your file</h3>
            <div class="row container-upload">
                <div class="col-12">
                    <div class="d-flex flex-column justify-content-center align-items-center border-upload">
                        <input type="file" id="upload" (change)="onFileChange($event)" #fileInput>
                        <div class="mt-3 line-in-error" *ngIf="lineInError > 0" jhiTranslate="import.error.lineerror" translateValues="{lineInError: '{{ lineInError }}'}"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center m-3">
                <button mat-raised-button color="primary" type="submit" class="default-validation-button" [disabled]="!importForm.valid || !preloadOk || loading">
                    {{'import.validation' | translate}}
                </button>
            </div>
            <div *ngIf="loading" class="loadingContainer importLoading">
                <mat-spinner color="primary" diameter="50" mode="indeterminate"></mat-spinner>
                <div class="loadingMessage"
                     jhiTranslate="import.loading">Please wait....</div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
