<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 id="title-accounts" jhiTranslate="import.title">Import data from another service</h1>
        <form [formGroup]="importForm" (ngSubmit)="onSubmitImport()">
            <mat-radio-group [formControl]="importType" class="row">
                <div class="col-lg-6 col-xl-3">
                    <mat-card style="height: 200px;">
                        <mat-card-content class="d-flex justify-content-center align-items-center flex-column">
                            <img src="../../../content/images/import/lastpass.png" style="object-fit: scale-down; width: 150px; height: 100px;">
                            <mat-radio-button [value]="TypeImport.LASTPASS" style="margin-top: 38px;"></mat-radio-button>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <mat-card  style="height: 200px;">
                        <mat-card-content>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <img src="../../../content/images/import/1password.png" style="object-fit: scale-down; width: 100px;">
                                <div>1Password</div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center" style="margin-top: 15px;">
                                <mat-radio-button [value]="1"></mat-radio-button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <mat-card style="height: 200px;">
                        <mat-card-content>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <img src="../../../content/images/import/dashlane.png" style="object-fit: scale-down; width: 100px;">
                                <div>Dashlane</div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center" style="margin-top: 15px;">
                                <mat-radio-button [value]="2"></mat-radio-button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <mat-card  style="height: 200px;">
                        <mat-card-content>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <i class="fas fa-file" style="font-size: 65px;"></i>
                                <div>CSV</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center" style="margin-top: 15px;">
                                <mat-radio-button [value]="3"></mat-radio-button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-radio-group>
            <div class="row" style="margin-top: 20px;">
                <div class="col-12">
                    <mat-card>
                        <div class="d-flex justify-content-center align-items-center" style=" border: 2px dashed #296a64; height: 150px;">
                            <input type="file" id="upload" (change)="onFileChange($event)" #fileInput>
                            <!--<div>Drag and drop your file here, or click on this zone</div>-->
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center m-3">
                <button mat-raised-button color="primary" type="submit" class="default-validation-button">
                    {{'import.validation' | translate}}
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
