@import './../../../../content/scss/custom-variables';

.hide {
    display: none;
}

.cross {
    font-size: 20px;
    cursor: pointer;
}

.display-all {
    text-decoration: underline;
    cursor: pointer;
}
