<form name="searchForm" role="form" (ngSubmit)="search()" novalidate>
    <mat-form-field class="width-max autocomplete-width">
        <input type="text" id="searchField" matInput [formControl]="searchControl"
               placeholder="{{ 'global.menu.search' | translate }}" jhiAutofocus
               autocomplete="off">
        <div matSuffix>
            <fa-icon [icon]="['fas', 'search']" class="search" [class.hide]="searchControl.value && searchControl.value != ''"></fa-icon>
            <fa-icon [icon]="['fas', 'times']" class="cross" [class.hide]="!searchControl.value || searchControl.value == ''"
               (click)="clearSearch()"></fa-icon>
        </div>
        <mat-hint align="start">
            <div *ngIf="searchControl.value && searchControl.value.length > 1
            && nbResults >= 1" jhiTranslate="global.menu.result"
                 translateValues="{nbResult: '{{nbResults}}', plural: '{{ nbResults == 1 ? '' : 's'  }}'}"></div>
        </mat-hint>
        <mat-hint align="end" (click)="onClickAllAccounts()">
            <div class="display-all" jhiTranslate="global.menu.accountTotal" translateValues="{nbtotal : '{{totalNumberAccount}}',
             plural: '{{totalNumberAccount <= 1 ? '' : 's' }}'}">{{totalNumberAccount}}</div>
        </mat-hint>
    </mat-form-field>
</form>
