<div class="modal-header">
  <h4 class="modal-title">Add a new account</h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Which type of account ?</p>
  <div class="d-flex justify-content-around">
    <div *ngFor="let accountType of getAllAccountType()">
      <button type="button" class="btn btn-outline-info" (click)="goNewAccount(accountType)">{{ accountType }}</button>
    </div>
  </div>
</div>