.settingsInput {
    width: 100%;
}

.emailInput {
    margin-bottom: 20px;
}

.accountdb-text {
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.content {
    margin-bottom: 20px;
}

.warn {
    background-image: none !important;
}

.container-danger {
    padding-top: 10px;
    padding-bottom: 10px;
}

.red {
    color: red;
}

.unit-red-border{
    border: 2px dashed red;
}

.unit-danger-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
