.settingsInput {
    width: 100%;
}

.emailInput {
    margin-bottom: 20px;
}

.accountdb-text {
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.content {
    margin-bottom: 20px;
}

.warn{
    background-image: none!important;
}
