<div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3"></div>
        <div class="col-md-6">
            <h1 *ngIf="settingsAccount">{{'settings.title' | translate}}.</h1>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                <mat-form-field class="settingsInput">
                    <input matInput disabled type="text" id="login" name="login" placeholder="{{'settings.form.username' | translate}}"
                           [(ngModel)]="settingsAccount.login" minlength=1 maxlength=50 #login="ngModel" required>
                    <mat-hint align="start" jhiTranslate="settings.form.nomodifLogin">No modification allowed, for management purpose</mat-hint>
                    <mat-hint align="end">{{settingsAccount.login?.length || 0}} / {{ maxUsername }}</mat-hint>
                </mat-form-field>
                 <mat-form-field class="settingsInput">
                    <input matInput type="text" id="firstName" name="firstName" placeholder="{{'settings.form.firstname' | translate}}"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel">
                      <mat-hint align="end">{{settingsAccount.firstName?.length || 0}} / {{ maxFirstname }}</mat-hint>
                        <mat-error *ngIf="firstNameInput.dirty && firstNameInput.invalid && firstNameInput.errors.minlength" class="form-text text-danger"
                                  jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </mat-error>
                        <mat-error *ngIf="firstNameInput.dirty && firstNameInput.invalid && firstNameInput.errors.maxlength" class="form-text text-danger"
                           jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </mat-error>
                 </mat-form-field>
                 <mat-form-field class="settingsInput">
                    <input type="text" matInput id="lastName" name="lastName" placeholder="{{'settings.form.lastname' | translate}}"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel">
                     <mat-hint align="end">{{settingsAccount.lastName?.length || 0}} / {{ maxLastname }}</mat-hint>
                        <mat-error class="form-text text-danger"
                           *ngIf="lastNameInput.dirty && lastNameInput.invalid && lastNameInput.errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </mat-error>
                        <mat-error class="form-text text-danger"
                           *ngIf="lastNameInput.dirty && lastNameInput.invalid && lastNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </mat-error>
                 </mat-form-field>
                <mat-form-field class="settingsInput emailInput">
                    <input type="email" matInput id="email" name="email" placeholder="{{'global.form.email' | translate}}"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email required>
                    <mat-hint align="end">{{settingsAccount.email?.length || 0}} / {{ maxEmail }}</mat-hint>
                        <mat-error class="form-text text-danger"
                           *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </mat-error>
                        <mat-error class="form-text text-danger"
                           *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </mat-error>
                        <mat-error class="form-text text-danger"
                           *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </mat-error>
                        <mat-error class="form-text text-danger"
                           *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </mat-error>
                </mat-form-field>
                <mat-form-field class="settingsInput" *ngIf="languages && languages.length > 0">
                    <mat-select id="langKey" placeholder="{{'settings.form.language' | translate}}" name="langKey" [(ngModel)]="settingsAccount.langKey">
                        <mat-option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="d-flex justify-content-center m-4">
                    <button mat-raised-button type="submit" class="default-validation-button" [disabled]="settingsForm.form.invalid">{{'settings.form.button' | translate}}</button>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <a [routerLink]="['/accounts']" mat-button class="m-4 text-center cancel">{{'register.form.cancel' | translate}}</a>
                </div>

                <div class="d-flex justify-content-center">
                    <div *ngIf="loading" class="loadingContainer m-3">
                        <mat-progress-spinner class="spinner" diameter="50" mode="indeterminate"></mat-progress-spinner>
                        <div class="loadingMessage"
                             jhiTranslate="settings.form.loading">Please wait....</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row justify-content-center margin-bottom">
        <div class="col-12 col-md-3"></div>
            <div class="col-md-6">
                <h2>{{'settings.accountdb.title' | translate}}.</h2>
                <div class="accountdb-text">{{'settings.accountdb.text' | translate}} : {{ actual }} / {{ max }}</div>
                <mat-progress-bar [mode]="'determinate'" [color]="colorActualAccount" [value]="actualPercentage"></mat-progress-bar>
            </div>
         <div class="col-12 col-md-3"></div>
    </div>

    <div class="row justify-content-center margin-bottom">
        <div class="col-12 col-md-3"></div>
            <div class="col-md-6">

            </div>
         <div class="col-12 col-md-3"></div>
    </div>

    <div class="row justify-content-center margin-bottom">
        <div class="col-12 col-md-3"></div>
        <div class="col-md-6 container-danger">
            <h2 class="red" jhiTranslate="settings.danger.zone">Danger zone</h2>
            <div class="unit-danger-container unit-red-border p-3">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h3 jhiTranslate="settings.danger.export.title">Export your database</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="content" jhiTranslate="settings.danger.export.content">
                            Export you entire database in the CSV format (with ; separator)<br/>
                            You can open it with excel or with a text editor
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="d-flex justify-content-center align-items-center">
                            <button mat-raised-button type="button" class="default-mat-background-button"
                                    (click)="openExportAccountPopup()" color="warn">
                                {{'settings.danger.export.action' | translate}}
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="unit-red-border p-3">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h3 jhiTranslate="settings.danger.delete.title">Delete your solocked account</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="content" jhiTranslate="settings.danger.delete.content">
                            Delete all your accounts and <span class="font-weight-bold">all informations</span> that we have.<br/>
                            This operation is <span class="font-weight-bold">irreversible</span>, it will log you out at the end of the process
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="d-flex justify-content-center align-items-center">
                            <button mat-raised-button type="button" class="default-mat-background-button"
                                    (click)="openDeleteAccountsPopup()" color="warn"> {{'settings.danger.delete.action' | translate}}</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</div>
