<div [class.footer-with-payment]="displayPaymentIssue">
    <div *ngIf="displayPaymentIssue">
        <div class="d-flex justify-content-center align-items-center no-payment" [class.not-paid]="isNotPaid"
             [class.free-mode]="isInFreemode">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <div class="warning">
                <span jhiTranslate="{{ warningMessage }}"></span>
                <a [routerLink]="['/billing']" jhiTranslate="ninjaccountApp.payment.linkInvoice"></a>
            </div>
        </div>
    </div>
</div>
