@import '../../../content/scss/custom-variables';

.footer-with-payment {
    height: 50px;
}

.no-payment {
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: 0;
    color: white;
    i {
        margin-right: 10px;
        font-size: 40px
    }
    .warning {
        margin-right: 5px;
    }
    a {
        color: white;
        text-decoration: underline;
    }
}

.not-paid {
    background-color: #D0021B;
}

.free-mode {
    background-color: $solocked-primary-color;
}
