<div class="row pt-3  mr-0 ml-0" [class.invert]="invertColor">
    <div class="col-12 col-lg-4 d-flex justify-content-center mb-3 mb-lg-0">
        <div class="d-flex flex-column justify-content-center text-center text-lg-left">
            <a class="mb-2" href="https://medium.com/@Sol0cked" target="_blank">Blog</a>
            <a class="mb-2" href="https://status.solocked.com" target="_blank">{{'home.status' | translate}}</a>
            <a class="mb-2" routerLink="/cgu">{{ 'footer.copyright.linkCgu' | translate }}</a>
            <a class="mb-2" routerLink="/cookies"> {{ 'footer.copyright.linkCookie' | translate }}</a>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="d-flex justify-content-center align-items-center h-100">
            <a style="color: #29487d;" href="#" target="_blank" class="mr-4">
                <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
            </a>
            <a style="color: #1da1f2;" href="https://twitter.com/Sol0cked" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
            </a>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="d-flex align-items-center flex-column">
            <img width="60" src="../../../content/images/icon.svg"/>
            <div id="title" class="title-app">SoLocked</div>
            <div class="tagline mb-1" jhiTranslate="home.tagline">Your digital safe</div>
            <div class="version">{{ version }}</div>
        </div>
    </div>
</div>
<div class="row pb-3 mr-0 ml-0" [class.invert]="invertColor">
    <div class="col-12 d-flex justify-content-center align-items-center flex-column copyright">
        <div jhiTranslate="footer.copyright.copyright-1">© 2018 SoLocked. All right reserved.</div>
        <div jhiTranslate="footer.copyright.copyright-2" class="text-center">All text, graphics, audio files, code, downloadable
            material, and other works on this web site are the copyrighted works of SoLocked
        </div>
    </div>
</div>

<div [class.footer-with-payment]="displayPaymentIssue">
    <div *ngIf="displayPaymentIssue" class="d-flex justify-content-center align-items-center no-payment col-12"
         [class.not-paid]="!paymentWarning.isPaid || !paymentWarning.isValid"
         [class.free-mode]="paymentWarning.isInFreeMode">
        <fa-icon [icon]="['fas', 'exclamation-triangle']" aria-hidden="true"></fa-icon>
        <div class="warning">
            <span jhiTranslate="{{ paymentWarning.warningMessage }}"></span>
            <a [routerLink]="['/billing']" jhiTranslate="ninjaccountApp.payment.linkInvoice"></a>
        </div>
    </div>
</div>
