@import '../../../content/scss/custom-variables';

$height-footer-payment: 90px;

.footer-with-payment {
    height: $height-footer-payment;
}

.no-payment {
    width: 100%;
    height: $height-footer-payment;
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: 10;
    color: white;
    fa-icon {
        margin-right: 10px;
        font-size: 40px;
    }
    .warning {
        margin-right: 5px;
    }
    a {
        color: white;
        text-decoration: underline;
    }
}

.not-paid {
    background-color: #d0021b;
}

.free-mode {
    background-color: $solocked-primary-color;
}

.copyright {
    font-size: 12px;
}

.invert {
    color: white;
}
