<a class="button-home button-info" mat-button [ngx-scroll-to]="'#what-is-solocked'">
    <div class="d-flex justify-content-center align-items-center h-100">
        <span>Made with love <fa-icon [icon]="['fas', 'heart']" class="ml-3" style=" color: red;"></fa-icon></span>
    </div>
</a>
<a class="button-home button-info" mat-button [ngx-scroll-to]="'#what-i-cando'">
    <div class="d-flex justify-content-center align-items-center h-100">
        <span>What I can do ?</span>
    </div>
</a>
<a class="button-home button-info" mat-button [ngx-scroll-to]="'#behind-solocked'">
    <div class="d-flex justify-content-center align-items-center h-100">
        <span>Behind SoLocked</span>
    </div>
</a>
