.warning-export-icon {
    font-size: 35px;
}

.title {
    vertical-align: super;
    margin-left: 10px;
}

.content {
    margin-bottom: 20px;
}

.content-username {
    margin-bottom: 10px;
}

.username-field {
    width: 100%;
}
