<h2 mat-dialog-title class="text-center"><i class="fa fa-exclamation-triangle warning-export-icon" aria-hidden="true"></i> <span class="title">Delete everything</span></h2>
<form name="form" role="form" (ngSubmit)="onDeleteAll()" #deleteAllForm="ngForm" novalidate>
    <mat-dialog-content class="d-flex justify-content-center align-content-center flex-column">
        <div class="content text-center">
            All your data will be <strong class="font-weight-bold">deleted</strong><br/>
            <strong class="font-weight-bold">This operation is irreversible</strong><br/>
            We will log you out at the end of the process.
        </div>
        <div style="margin-bottom: 10px;">Enter your username to confirm : </div>

             <mat-form-field style="width: 100%;">
                <input matInput type="text" id="username" name="username" placeholder="{{'settings.form.username' | translate}}"
                       [(ngModel)]="username" minlength=1 maxlength=50 #login="ngModel" required>
                <mat-hint align="end">{{username?.length || 0}} / {{ maxUsername }}</mat-hint>
            </mat-form-field>

        <div class="text-center content">Are you sure ?</div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-center align-content-center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button type="submit" class="default-mat-background-button" color="warn">Delete all my accounts</button>
    </mat-dialog-actions>
</form>
