<mat-expansion-panel [@appear] class="payment-custom-card" [expanded]="expanded" (closed)="onClose()" (opened)="onOpen()">
  <mat-expansion-panel-header>
          <mat-panel-title class="title d-flex align-items-center" style="width: 100%;">
              <fa-icon [icon]="['fas', 'money-bill-alt']" class="payment-block-icons" aria-hidden="true"></fa-icon>
              <div jhiTranslate="ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.title">Payments</div>
              <div *ngIf="!accordionOpened && payments.length > 0"  class="lastpayment-container">
                  <div jhiTranslate="ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.lastPayment">Last payment</div>
                  <div  class="d-flex justify-content-center align-content-center lastpayment-infos">
                      <div>{{ lastPayment?.date | date:'M/d/yyyy' }}</div>
                      <div>{{ lastPayment?.amount | currency }}</div>
                  </div>
              </div>
              <fa-icon  [icon]="['fas', 'trash']" class="suppress mr-3" *ngIf="!readOnlyMode" (click)="onSuppressPaymentBlock()"></fa-icon>
          </mat-panel-title>
  </mat-expansion-panel-header>
    <mat-card class="payments">
          <mat-card-content>
              <form (ngSubmit)="onAddPayment()" #paymentForm="ngForm">
                  <div class="add-payments add-payment-top">
                      <div class="d-flex justify-content-center container-btn-payment">
                          <button mat-mini-fab class="btn-payment" type="submit">+</button>
                      </div>
                  </div>
                  <mat-grid-list cols="4" rowHeight="35px" gutterSize="0px">
                      <mat-grid-tile class="header top-left">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.date" | translate }}</mat-grid-tile>
                      <mat-grid-tile class="header fixFF">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.amount" | translate }}</mat-grid-tile>
                      <mat-grid-tile class="header">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.method" | translate }}</mat-grid-tile>
                      <mat-grid-tile class="header top-right">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.code" | translate }}</mat-grid-tile>
                      <ng-container *ngFor="let payment of payments;let i = index;let odd = odd; let last = last; let first = first">
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-date-inline [readonlyMode]="readOnlyMode" class="width-max" [value]="payment.date" (onValueChange)="onChangeDate(i, $event)"></jhi-edit-date-inline>
                          </mat-grid-tile>
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-inline [readonlyMode]="readOnlyMode" class="width-max" [type]="'currency'" [placeholder]="0"
                                               [value]="payment.amount" (onValueChange)="onChangeAmount(i, $event)"></jhi-edit-inline>
                          </mat-grid-tile>
                          <mat-grid-tile [class.odd]="odd" style="z-index: 1;">
                              <jhi-edit-inline [readonlyMode]="readOnlyMode" class="width-max" [type]="'string'" [placeholder]="_placeholderMethod"
                                               [value]="payment.method" (onValueChange)="onChangeMethod(i, $event)"></jhi-edit-inline>
                          </mat-grid-tile>
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-inline [readonlyMode]="readOnlyMode" class="width-max" [type]="'string'" [placeholder]="_placeholderCode"
                                               [value]="payment.code" (onValueChange)="onChangeCode(i, $event)"></jhi-edit-inline>
                          </mat-grid-tile>
                          <mat-grid-tile colspan="4" [class.odd]="odd" class="notes-add-payment">
                              <div *ngIf="!readOnlyMode" class="add-payments" [class.add-payments-grid]="!last" [class.add-payments-bottom]="last">
                                  <div class="d-flex justify-content-center container-btn-payment">
                                      <button mat-mini-fab class="btn-payment" type="button"
                                              (click)="onRemovePayment(payment, i)">-
                                      </button>
                                  </div>
                              </div>
                          </mat-grid-tile>
                      </ng-container>
                  </mat-grid-list>
              </form>
          </mat-card-content>
      </mat-card>
    <div class="d-flex justify-content-around containerAverageTotal">
        <div class="d-flex align-items-center">
            <fa-icon [icon]="['fas', 'chart-bar']" class="iconTotalAverage"> </fa-icon>
            <div class="labelAverageTotal" jhiTranslate="ninjaccountApp.accountsDB.paymentblock.calcul.average">Average: </div>
            <div>${{ average }}</div>
        </div>
        <div class="d-flex align-items-center">
            <fa-icon [icon]="['fas', 'money-bill-alt']" class="iconTotalAverage"> </fa-icon>
            <div class="labelAverageTotal" jhiTranslate="ninjaccountApp.accountsDB.paymentblock.calcul.total">Total: </div>
            <div>${{ total }}</div>
        </div>
    </div>

</mat-expansion-panel>
