<mat-card class="payment-custom-card">
  <mat-card-header>
      <div class="d-flex justify-content-between width-max align-items-baseline">
          <div class="d-flex">
              <i class="fa fa-money payment-block-icons" aria-hidden="true"></i>
              <mat-card-title class="title d-flex align-items-center justify-content-center">
                  <div jhiTranslate="ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.title">Payment fields</div>
              </mat-card-title>
          </div>
          <i class="fa fa-trash suppress" (click)="onSuppressPaymentBlock()"></i>
      </div>
  </mat-card-header>
  <mat-card-content>
      <mat-card class="payments">
          <mat-card-content>
              <form (ngSubmit)="onAddPayment()" #paymentForm="ngForm">
                  <mat-grid-list cols="4" rowHeight="40px" gutterSize="0px">
                      <mat-grid-tile class="header top-left">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.date" | translate }}</mat-grid-tile>
                      <mat-grid-tile class="header">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.amount" | translate }}</mat-grid-tile>
                      <mat-grid-tile class="header">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.method" | translate }}</mat-grid-tile>
                      <mat-grid-tile class="header top-right">{{ "ninjaccountApp.accountsDB.paymentblock.paymentCustomBlock.code" | translate }}</mat-grid-tile>
                      <div *ngFor="let payment of payments;let i = index;let odd = odd; let last = last;">
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-date-inline class="width-max" [value]="payment.date" (onValueChange)="onChangeDate(i, $event)"></jhi-edit-date-inline>
                          </mat-grid-tile>
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-inline class="width-max" [type]="'currency'" [placeholder]="0"
                                               [value]="payment.amount" (onValueChange)="onChangeAmount(i, $event)"></jhi-edit-inline>
                          </mat-grid-tile>
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-inline class="width-max" [type]="'string'" [placeholder]="_placeholderMethod"
                                               [value]="payment.method" (onValueChange)="onChangeMethod(i, $event)"></jhi-edit-inline>
                          </mat-grid-tile>
                          <mat-grid-tile [class.odd]="odd">
                              <jhi-edit-inline class="width-max" [type]="'string'" [placeholder]="_placeholderCode"
                                               [value]="payment.code" (onValueChange)="onChangeCode(i, $event)"></jhi-edit-inline>
                          </mat-grid-tile>
                          <mat-grid-tile colspan="4" [class.odd]="odd" class="notes-add-payment">
                              <jhi-edit-inline class="width-max" [type]="'notes'" [placeholder]="_placeholderNotes"
                                               [value]="payment.notes" (onValueChange)="onChangeNotes(i, value)"></jhi-edit-inline>
                              <div class="add-payments" [class.add-payments-grid]="!last" [class.add-payments-bottom]="last">
                                  <div class="d-flex justify-content-center container-btn-payment">
                                      <button *ngIf="last" mat-mini-fab class="btn-payment" type="submit">+</button>
                                      <button mat-mini-fab class="btn-payment" type="button" (click)="onRemovePayment(i)">-</button>
                                  </div>
                              </div>
                          </mat-grid-tile>
                      </div>
                      <mat-grid-tile colspan="4" class="tile-add-bottom" *ngIf="payments.length == 0">
                          <div class="add-payments add-payment-first">
                              <div class="d-flex justify-content-center container-btn-payment">
                                  <button mat-mini-fab class="btn-payment" type="submit">+</button>
                              </div>
                          </div>
                      </mat-grid-tile>
                  </mat-grid-list>
                  </div>
              </form>
          </mat-card-content>
      </mat-card>
  </mat-card-content>
</mat-card>
