<div class="card" *ngIf="account$ | async as account">
  <h3 class="card-header">{{ account.name }}</h3>
  <div class="card-body">
    <div class="card-text" style="margin-bottom: 10px;">
      <ul class="list-group">
        <li class="list-group-item">Number : {{ account.number }}</li>
        <li class="list-group-item">Username : {{ account.username }}</li>
        <li class="list-group-item">Password : {{ account.password }}</li>
        <li class="list-group-item">Notes : {{ account.notes }}</li>
        <li class="list-group-item"> <span style="margin-right: 5px;">Tags :</span>
          <span *ngFor="let tag of account.tags" class="badge badge-primary"
                style="margin-right: 5px;"> {{ tag }} </span>
        </li>
      </ul>
    </div>
    <div>
         <button class="btn btn-danger" (click)="onDelete(account.id)">Delete</button>
         <button class="btn btn-primary" [routerLink]="['/accounts']">Return home</button>
      </div>
  </div>
</div>
