<div class="row" *ngIf="account$ | async as account">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="m-3">{{ account.name }}.</h1>
      <div class="d-flex flex-column">
          <div class="m-3"><span class="font-weight-bold" jhiTranslate="ninjaccountApp.accountsDB.details.username">Username:</span> {{ account.username }}</div>
          <div class="m-3"><span class="font-weight-bold" jhiTranslate="ninjaccountApp.accountsDB.details.number">Number: </span> {{ account.number }}</div>
          <div class="m-3"><span class="font-weight-bold" jhiTranslate="ninjaccountApp.accountsDB.details.password">Password: </span> {{ account.password }}</div>
          <div class="m-3"><span class="font-weight-bold" jhiTranslate="ninjaccountApp.accountsDB.details.notes">Notes :</span> {{ account.notes }}</div>
          <div class="m-3" *ngFor="let custom of account.customs; let i=index">
            <span class="font-weight-bold"> {{ "ninjaccountApp.accountsDB.details.customField" | translate }} {{ i + 1 }} : </span>
            <span> {{ custom.key }} - {{ custom.value }} </span>
          </div>
          <div class="m-3">
            <span class="font-weight-bold" jhiTranslate="ninjaccountApp.accountsDB.details.tags">Tags :</span>
              <button md-raised-button disabled *ngFor="let tag of account.tags" class="tag"> {{ tag }} </button>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <button md-raised-button class="delete btnDetail" (click)="onDelete(account.id)">{{ "ninjaccountApp.accountsDB.details.delete" | translate }}</button>
            <button class="cancel btnDetail" md-button [routerLink]="['/accounts']">{{ "ninjaccountApp.accountsDB.details.cancel" | translate }}</button>
          </div>
      </div>
  </div>
    <div class="col-md-3"></div>
</div>
