@import './../../../content/scss/custom-variables';

.tag {
    margin-right: 5px;
    color: white !important;
    font-size: 75%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
}

.edit {
    width: 150px;
}

.delete {
    width: 150px;
}

.btnDetail {
    margin-top: 10px;
}

.displayPassword {
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

.passwordContainer {
    span {
        margin-right: 5px;
    }
}

.pointer {
    cursor: pointer;
}

.titleTags {
    margin-right: 10px;
}
