<h2 mat-dialog-title class="text-center">
    <fa-icon [icon]="['fas', 'exclamation-triangle']" class="warning-export-icon" aria-hidden="true"></fa-icon>
    <span class="title" jhiTranslate="settings.danger.export.popup.title">Export all accounts</span>
</h2>
<mat-dialog-content class="d-flex justify-content-center align-content-center flex-column">
    <div class="content" jhiTranslate="settings.danger.export.popup.content">
        All your data will be <strong class="font-weight-bold">transfered</strong> in
        <strong class="font-weight-bold">clear text without any encryption</strong> on this device
    </div>
    <div class="text-center content" jhiTranslate="settings.danger.export.popup.confirmation">Are you sure ?</div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center align-content-center">
    <button mat-button mat-dialog-close>{{'settings.danger.export.popup.cancel' | translate}}</button>
    <button mat-raised-button [mat-dialog-close]="true"
            class="default-mat-background-button" color="warn"
            (click)="onAllExport()">{{'settings.danger.export.popup.ok' | translate}}</button>
</mat-dialog-actions>
