<div class="row align-items-center mt-4">
    <div *ngIf="!hideFreePlan" class="col-sm-4">
        <div class="billing-card mr-auto ml-auto ml-sm-0 mb-3 mb-sm-0" [class.selected]="free"
             (click)="onChoosePlan(PlanType.FREE)" id="plant-type-free">
            <div class="billing-card-title" jhiTranslate="billing.chooseplan.free.title">Free</div>
            <div class="separator"></div>
            <div class="content">
                <ul>
                    <li jhiTranslate="billing.chooseplan.free.highlight1">10 accounts</li>
                    <div style="height: 21px;"></div>
                </ul>
            </div>
            <div class="year-price" jhiTranslate="billing.chooseplan.free.price">$0</div>
        </div>
    </div>
    <div [class.col-sm-4]="!hideFreePlan" [class.col-sm-6]="hideFreePlan">
        <div class="billing-card mr-auto ml-auto mb-3 mb-sm-0" [class.selected]="premiumY"
             (click)="onChoosePlan(PlanType.PREMIUMYEAR)">
            <div class="billing-card-title" jhiTranslate="billing.chooseplan.premiumyear.title">Premium</div>
            <div class="separator"></div>
            <div class="content">
                <ul>
                    <li jhiTranslate="billing.chooseplan.premiumyear.highlight1">1000 accounts</li>
                    <li jhiTranslate="billing.chooseplan.premiumyear.highlight2">Billed yearly</li>
                </ul>
            </div>
            <div class="year-price" jhiTranslate="billing.chooseplan.premiumyear.price">$20</div>
            <div class="month-price" jhiTranslate="billing.chooseplan.premiumyear.frequency">per year</div>
        </div>
    </div>
    <div [class.col-sm-4]="!hideFreePlan" [class.col-sm-6]="hideFreePlan">
        <div class="billing-card ml-auto mr-auto mr-sm-0 mb-3 mb-sm-0" [class.selected]="premiumM"
             (click)="onChoosePlan(PlanType.PREMIUMMONTH)">
            <div class="billing-card-title" jhiTranslate="billing.chooseplan.premiummonth.title">Premium</div>
            <div class="separator"></div>
            <div class="content">
                <ul>
                    <li jhiTranslate="billing.chooseplan.premiummonth.highlight1">1000 accounts</li>
                    <li jhiTranslate="billing.chooseplan.premiummonth.highlight2">Billed monthly</li>
                </ul>
            </div>
            <div class="year-price" jhiTranslate="billing.chooseplan.premiummonth.price">$2</div>
            <div class="month-price" jhiTranslate="billing.chooseplan.premiummonth.frequency">per month</div>
        </div>
    </div>
</div>
