@import './../../../../content/scss/custom-variables';

.billing-card {
    width: 170px;
    cursor: pointer;
    padding: 12px;

    .billing-card-title {
        font-size: 13px;
    }

    .separator {
        border-top: 1px solid $font-color-primary;
        margin: 0 10px;
    }

    .content {
        font-size: 0.9rem;
    }

    .year-price {
        font-size: 1.6rem;
        font-weight: bold;
        color: $solocked-primary-color;
        margin-right: 5px;
    }

    .month-price {
        font-size: 0.8rem;
        font-weight: bold;
        transform: translate(0px, 7px);
    }
}

.selected {
    border: 1px solid $solocked-primary-color;
    background-color: $solocked-primary-color;
    color: white;

    .separator {
        border-top: 1px solid white;
    }

    .year-price {
        color: white;
    }
}

.hide-free-plan {
    min-width: 300px;
}

.payment-icon {
    font-size: 40px;
}

.inverted {
    fa-icon {
        color: white;
    }
}
