@import './../../../../content/scss/custom-variables';

.billing-card {
    border: 1px solid $font-color-primary;
    border-radius: 20px;
    width: 170px;
    cursor: pointer;
    padding-bottom: 10px;
    min-height: 200px;

    .billing-card-title {
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .separator {
        border-top: 1px solid $font-color-primary;
        margin: 0 10px;
    }

    .content {
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .year-price {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
    }

    .month-price {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
    }
}

.selected {
    border: 1px solid $solocked-primary-color;
    background-color: $solocked-primary-color;
    color: white;

    .separator {
        border-top: 1px solid white;
    }
}

.hide-free-plan {
    min-width: 300px;
}

.payment-icon {
    font-size: 40px;
}
