<h2 mat-dialog-title jhiTranslate="billing.change"></h2>
<jhi-choose-plan [modeBilling]="true" (planChoosed)="onChoosePlan($event)"></jhi-choose-plan>
<mat-dialog-actions class="d-flex justify-content-center align-content-center">
    <button mat-button mat-dialog-close *ngIf="!loading">{{ "billing.cancelpopup.back" | translate }}</button>
</mat-dialog-actions>
<div *ngIf="loading" class="loadingContainer justify-content-center mt-4">
    <mat-spinner color="primary" diameter="50" mode="indeterminate"></mat-spinner>
    <div class="loadingMessage"
         jhiTranslate="{{ loadingMessage }}">Please wait....
    </div>
</div>
