<div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3"></div>
        <div class="col-md-6">
            <h1 jhiTranslate="password.title">Change your password.</h1>
            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">
                <mat-form-field class="passwordInputs mb-3">
                    <input matInput type="password" id="password" name="password" placeholder="{{'global.form.newpassword' | translate}}"
                           [(ngModel)]="newPassword" minlength=8 maxlength=50 #passwordInput="ngModel"
                           jhiNumberValidator="newPassword"
                           jhiUpperValidator="newPassword" required>
                        <mat-hint align="end">{{newPassword?.length || 0}} / {{ maxPassword }}</mat-hint>
                        <mat-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.required" class="form-text text-danger"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </mat-error>
                        <mat-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.minlength" class="form-text text-danger"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                             Your password is required to be at least 8 characters.
                        </mat-error>
                        <mat-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.maxlength" class="form-text text-danger"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                             Your password cannot be longer than 50 characters.
                        </mat-error>
                        <mat-error class="text-danger"
                                   *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.hasNoNumber"
                                   jhiTranslate="global.messages.validate.newpassword.noNumber">
                            Your password has to contain at least one number
                        </mat-error>
                        <mat-error class="text-danger"
                                   *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.hasNoUpper"
                                   jhiTranslate="global.messages.validate.newpassword.noUppercase">
                            Your password has to contain at least one letter in uppercase
                        </mat-error>
                </mat-form-field>
                <mat-form-field class="passwordInputs">
                    <input matInput type="password" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword' | translate}}"
                           [(ngModel)]="confirmPassword" minlength=1 maxlength=50 #confirmPasswordInput="ngModel" required>
                        <mat-hint align="end">{{confirmPassword?.length || 0}} / {{ maxPassword }}</mat-hint>
                        <mat-error *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid && confirmPasswordInput.errors.required" class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </mat-error>
                        <mat-error *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid && confirmPasswordInput.errors.minlength" class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.confirmpassword.minlength">
                             Your confirmation password is required to be at least 4 characters.
                        </mat-error>
                        <mat-error *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid && confirmPasswordInput.errors.maxlength" class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                             Your confirmation password cannot be longer than 50 characters.
                        </mat-error>
                </mat-form-field>
                <div jhiTranslate="password.messages.information">You will be <span class="font-weight-bold">logout</span> after changing your password</div>
                 <div class="d-flex justify-content-center m-4">
                    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.form.invalid" class="default-validation-button">{{'password.form.button' | translate}}</button>
                 </div>
                <div class="d-flex justify-content-center">
                    <div *ngIf="loading" class="loadingContainer m-3">
                        <mat-progress-spinner color="primary" diameter="50" mode="indeterminate"></mat-progress-spinner>
                        <div class="loadingMessage"
                             jhiTranslate="password.form.loading">Changing password...</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</div>
