<div [class.background-offline]="loginPage">
    <jhi-page-ribbon></jhi-page-ribbon>
    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <div class="container-fluid">
        <div class="p-5">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
      <!--  <jhi-footer></jhi-footer> -->
    </div>
</div>
<div *ngIf="isAuthenticated()">
    <div *ngIf="(payment$ | async) as payment" >
        <div class="d-flex justify-content-center align-items-center no-payment" *ngIf="isInPaymentWarning(payment)">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <div class="warning" jhiTranslate="ninjaccountApp.payment.warning"></div>
            <a [routerLink]="['/']" jhiTranslate="ninjaccountApp.payment.linkInvoice"></a>
        </div>
    </div>
</div>
