<div [class.background-offline]="loginPage">
    <jhi-page-ribbon></jhi-page-ribbon>
    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <div class="container-fluid">
        <div class="p-5">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
      <!--  <jhi-footer></jhi-footer> -->
    </div>
</div>
<div class="no-payment" *ngIf="isAuthenticated()">
    <div *ngIf="(payment$ | async) as payment" >
        <div> payé ? {{ !payment.paid }} type :  {{ payment.planType }} type 2 {{ paymentType[paymentType] }} </div>
        <div class=" d-flex justify-content-center align-items-center" *ngIf="!payment.paid || payment.planType === paymentType[paymentType]">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <div class="warning" jhiTranslate="ninjaccountApp.payment.warning"></div>
            <a [routerLink]="['/']" jhiTranslate="ninjaccountApp.payment.linkInvoice"></a>
        </div>
    </div>
</div>
