.customLabel {
    margin-right: 10px;
    width: 35%;
}

.customValue {
    width: 65%;
}

.customInput {
    margin-right: 20px;
}

.suffixIcon {
    font-size: 22px;
    cursor: pointer;
}

.customValueAlone {
    width: 100% !important;
}
