<div class="field width-max" (click)="edit=true;"
     jhiClickOutside (clickOutside)="onClickOutSide($event);"
     (mouseover)="over=true;" (mouseout)="over=false;">
    <mat-form-field class="width-max" *ngIf="(over || edit) && !readonlyMode;else valueContainer">
        <input  matInput class="payment-input-date" [(ngModel)]="value"
                [matDatepicker]="picker" (click)="picker.open()" id="date" name="date" (dateChange)="onChangeValue($event)">
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <ng-template #valueContainer>
        <div class="text-center width-max payment-value">{{ value | date:'M/d/yyyy' }}</div>
    </ng-template>
</div>
