@import './../../../../../content/scss/custom-variables';

.payment-input-date {
    text-align: center;
    color: $payment-block-color-input;
}

.payment-input {
    text-align: center;
    margin-left: 0px;
    color: $payment-block-color-input;
}

.payment-value {
    margin-bottom: 6px;
    color: $payment-block-color-input;
}

.field {
    padding-top: 10px;
}

//Fixing firefox
@-moz-document url-prefix() {
    .payment-value {
        margin-bottom: 7px!important;
    }
}
