<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span jhiTranslate="ninjaccountApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ninjaccountApp.payment.subscriptionDate">Subscription Date</span></dt>
                <dd>
                    <span>{{payment.subscriptionDate}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.price">Price</span></dt>
                <dd>
                    <span>{{payment.price}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.planType">Plan Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'ninjaccountApp.PlanType.' + payment.planType}}">{{payment.planType}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.paid">Paid</span></dt>
                <dd>
                    <span>{{payment.paid}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.validUntil">Valid Until</span></dt>
                <dd>
                    <span>{{payment.validUntil}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.lastPaymentId">Last Payment Id</span></dt>
                <dd>
                    <span>{{payment.lastPaymentId}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.recurring">Recurring</span></dt>
                <dd>
                    <span>{{payment.recurring}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.billingPlanId">Billing Plan Id</span></dt>
                <dd>
                    <span>{{payment.billingPlanId}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.tokenRecurring">Token Recurring</span></dt>
                <dd>
                    <span>{{payment.tokenRecurring}}</span>
                </dd>
                <dt><span jhiTranslate="ninjaccountApp.payment.user">User</span></dt>
                <dd>
                    {{payment.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
