@import './../../../content/scss/custom-variables';

$primary-color: white;

.buttonRegistration {
    margin-right: 10px;
}

.buttonRegistration:not([disabled]) {
    background-image: none;
    background-color: $primary-color !important;
    color: $solocked-primary-color !important;
}

.buttonRegistration:disabled {
    background-image: none;
}

.registerInput {
    width: 100%;

    ::ng-deep .mat-form-field-placeholder,
    ::ng-deep .mat-input-element,
    ::ng-deep .mat-focused .mat-form-field-placeholder,
    ::ng-deep .mat-form-field-label {
        color: $primary-color !important;
    }

    ::ng-deep .mat-form-field-underline {
        background-color: $primary-color !important;
    }
}

.title-register {
    color: $primary-color !important;
}

::ng-deep jhi-password-strength-bar,
::ng-deep .mat-error {
    color: $primary-color !important;
}

.inverted-loading-message {
    color: $primary-color;
}
