@import './../../../content/scss/custom-variables';

$primary-color: white;

.buttonRegistration {
    margin-right: 10px;
}

.buttonRegistration:not([disabled]) {
    background-image: none;
    background-color: $primary-color !important;
    color: $solocked-primary-color !important;
}

.buttonRegistration:disabled {
    background-image: none;
    background-color: #dfdfdf !important;
    color: $solocked-primary-color !important;
}

.registerInput {
    width: 100%;

    >>> .mat-form-field-placeholder,
    >>> .mat-input-element,
    >>> .mat-focused .mat-form-field-placeholder,
    >>> .mat-form-field-label {
        color: $primary-color !important;
    }

    >>> .mat-form-field-underline {
        background-color: $primary-color !important;
    }
}

.register {
    .title-register {
        color: $primary-color;
    }
}

>>> jhi-password-strength-bar,
>>> .mat-error {
    color: $primary-color !important;
}

.inverted-loading-message {
    color: $primary-color;
}
