.registerContainer{
    display: flex;
    align-items: center;
}

.buttonRegistration{
    margin-right: 10px;
}

.loadingContainer{
    display: flex;
    align-items: center;
}

.loadingMessage{
    margin-left: 10px;
}