@import './../../../content/scss/custom-variables';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: $loginColor;
}

.jh-navbar {
    z-index: 1;
    background-color: white;
    padding: .2em 1em;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: $loginColor;
}

.nav-link {
    color: $loginColor;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
        }
    }
}

/* ==========================================================================
Custom solocked
========================================================================== */
.add-button {
    color: $solocked-primary-color !important;
    border: solid $solocked-primary-color 2px;
    background-image: linear-gradient(to bottom right, #FFFFFF, #FFFFFF) !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24), 0 0px 0px 0 rgba(0, 0, 0, 0.12) !important;
}

.home {
    color: $loginColor;
}

.autolock {
    margin-right: 15px;
}

.defaultColor {
    .nav-link {
        color: $font-color-primary;
    }

    .navbar-title {
        color: $font-color-primary;
    }

    .navbar-version {
        color: $font-color-primary;
    }
}

.background-login {
    background-color: transparent;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
}
