@import './../../../content/scss/custom-variables';

#addEditAccount {
    margin-left: 10px;
}

.customInput {
    margin-right: 20px;
}

.addAccountInput {
    width: 100%;
}

.addCustom {
    width: 100%;
    border: 1px $font-color-primary dashed;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;

    .custom-icons {
        font-size: 35px;
    }
}

#addCustomField {
    margin-right: 15px;
}

.customLabel {
    margin-right: 10px;
    flex-grow: 1;
}

.customValue {
    flex-grow: 2;
}

.suffixIcon {
    font-size: 22px;
    cursor: pointer;
}

.buttonContainer {
    margin-top: 20px;
}

.hideIcon {
    display: none;
}
