<div class="row">
  <div class="col-12 col-md-3">
  </div>
  <div class="col-12 col-md-6">
          <div *ngIf="updateMode;then update else create"></div>
          <ng-template #create><h1 jhiTranslate="ninjaccountApp.accountsDB.add.title">Create a new account.</h1></ng-template>
          <ng-template #update><h1 jhiTranslate="ninjaccountApp.accountsDB.update.title">Update an account.</h1></ng-template>
          <form [formGroup]="accountForm" (ngSubmit)="onSubmitNewAccount()">
            <md-form-field class="addAccountInput">
              <input mdInput type="text" id="accountName" placeholder="{{'ninjaccountApp.accountsDB.add.name' | translate}}"
                     [formControl]="accountName" required>
                <md-error class="text-danger"
                          *ngIf="accountName.dirty && accountName.invalid && accountName.errors.required"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.accountName.required">
                    A name is required
                </md-error>
                <md-error class="text-danger"
                          *ngIf="accountName.dirty && accountName.invalid && accountName.errors.maxlength"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.accountName.max">
                    Too many characters
                </md-error>
            </md-form-field>
            <md-form-field class="addAccountInput">
              <input type="text" mdInput id="accountNumber" placeholder="{{'ninjaccountApp.accountsDB.add.number' | translate}}"
                     [formControl]="accountNumber">
                <md-error class="text-danger"
                          *ngIf="accountNumber.dirty && accountNumber.invalid && accountNumber.errors.maxlength"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.accountNumber.max">
                    Too many characters
                </md-error>
            </md-form-field>
            <md-form-field class="addAccountInput">
              <input mdInput type="text" id="username" placeholder="{{'ninjaccountApp.accountsDB.add.username' | translate}}"
                     [formControl]="username" required>
                <md-error class="form-text text-danger"
                          *ngIf="username.dirty && username.invalid && username.errors.required"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.username.required">
                    A username is required
                </md-error>
                <md-error class="text-danger"
                          *ngIf="username.dirty && username.invalid && username.errors.maxlength"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.username.max">
                    Too many characters
                </md-error>
            </md-form-field>
            <md-form-field class="addAccountInput">
              <input mdInput type="password" id="password" placeholder="{{'ninjaccountApp.accountsDB.add.password' | translate}}"
                     [formControl]="password" required>
                <md-error class="text-danger"
                          *ngIf="password.dirty && password.invalid && password.errors.required"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.password.required">
                    A password is required
                </md-error>
                <md-error class="text-danger"
                          *ngIf="password.dirty && password.invalid && password.errors.maxlength"
                          jhiTranslate="ninjaccountApp.accountsDB.validate.password.max">
                    Too many characters
                </md-error>
            </md-form-field>
            <md-form-field class="addAccountInput">
              <textarea mdInput placeholder="{{'ninjaccountApp.accountsDB.add.notes' | translate}}" id="notes" rows="3" [formControl]="notes"></textarea>
            </md-form-field>
            <md-form-field class="addAccountInput">
              <input mdInput placeholder="{{'ninjaccountApp.accountsDB.add.tags' | translate}}" id="tags" [formControl]="tags"
                     data-role="tagsinput">
            </md-form-field>
              <div formArrayName="customs">
                  <div class="form-group" *ngFor="let cu of customs.controls; let i=index" [formGroup]="cu">
                      <div class="d-flex justify-content-around align-items-center">
                          <md-form-field class="customLabel">
                                <input placeholder="{{'ninjaccountApp.accountsDB.add.custom.label' | translate}} ({{ i + 1 }})" mdInput type="text" id="{{ i }}-key" formControlName="key"
                                    data-role="customInputKey" class="customInput">
                          </md-form-field>
                          <md-form-field class="customValue">
                                <input placeholder="{{'ninjaccountApp.accountsDB.add.custom.value' | translate}} ({{ i + 1 }})" mdInput id="{{ i }}-value" data-role="customInputValue"
                                         formControlName="value">
                          </md-form-field>
                          <i class="fa fa-trash customFieldDelete" (click)="onDeleteCustomField(i)" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>

            <div class="d-flex flex-column align-items-center justify-content-center">
                <button md-button type="button" id="addCustomField"
                        (click)="addCustomField('', '')">{{'ninjaccountApp.accountsDB.add.custom.button' | translate}}</button>
                <button md-raised-button type="submit" class="default-validation-button" [disabled]="!accountForm.valid" id="addEditAccount">
                     <div *ngIf="updateMode;then updateBtn else createBtn"></div>
                     <ng-template #createBtn>{{'ninjaccountApp.accountsDB.add.button' | translate}}</ng-template>
                     <ng-template #updateBtn>{{'ninjaccountApp.accountsDB.update.button' | translate}}</ng-template>
                </button>
                 <div class="d-flex align-items-center justify-content-center">
                    <a [routerLink]="['/accounts']" md-button class="m-4 text-center cancel">{{'register.form.cancel' | translate}}</a>
                </div>
                <div *ngIf="loading" class="loadingContainer">
                    <md-spinner class="spinner" strokeWidth="15" color="primary" *ngIf="loading"></md-spinner>
                    <div class="loadingMessage"
                         jhiTranslate="ninjaccountApp.accountsDB.add.loading">Please wait....</div>
              </div>
            </div>
          </form>
    </div>
  <div class="col-12 col-md-3"></div>
</div>
