<div class="row">
  <div class="col-12 col-md-3">
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ header }}</h4>
        <div class="card-text">
          <form [formGroup]="accountForm" (ngSubmit)="onSubmitNewAccount()">
            <div class="form-group">
              <label for="accountName">Name</label>
              <input type="text" class="form-control" id="accountName" placeholder="Enter your account name" [formControl]="accountName">
              <div *ngIf="accountName.dirty && accountName.invalid">
                <small class="form-text text-danger" *ngIf="accountName.errors.required" jhiTranslate="ninjaccountApp.accountsDB.validate.accountName.required">
                    A name is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="accountNumber">Number</label>
              <input type="number" class="form-control" id="accountNumber" placeholder="Enter your account number" [formControl]="accountNumber">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username" [formControl]="username">
              <div *ngIf="username.dirty && username.invalid">
                <small class="form-text text-danger" *ngIf="username.errors.required" jhiTranslate="ninjaccountApp.accountsDB.validate.username.required">
                    A username is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password" [formControl]="password">
              <div *ngIf="password.dirty && password.invalid">
                <small class="form-text text-danger" *ngIf="password.errors.required" jhiTranslate="ninjaccountApp.accountsDB.validate.password.required">
                    A password is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea class="form-control" id="notes" rows="3" [formControl]="notes"></textarea>
            </div>
            <div class="form-group">
              <label for="tags">Tags (separated with comma)</label>
              <input class="form-control" id="tags" [formControl]="tags" data-role="tagsinput" class="form-control">
            </div>
            <div class="d-flex">
              <button type="submit" class="btn btn-outline-primary" [disabled]="!accountForm.valid">{{ button }}</button>
              <div *ngIf="loading" class="loadingContainer loadingCustom">
                <div class="spinner" *ngIf="loading"></div>
                <div class="loadingMessage" jhiTranslate="ninjaccountApp.accountsDB.add.loading">Please wait....</div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-3"></div>
</div>