@import './../../content/scss/custom-variables';

/* ==========================================================================
Main page styles
========================================================================== */

.understand {
    text-decoration: underline;
}

.title-app {
    font-weight: bold;
    font-size: 25px;
}

.version {
    font-size: 12px;
}

.what-solocked {
    background: $linear-gradient;
    color: white;
}
