<div class="row">
    <div class="col-12">
        <h2 class="mb-4 text-white text-center" id="name">Solocked</h2>
        <h2 class="mb-4 text-white text-center" id="title" jhiTranslate="home.subtitle">All your accounts in one place.</h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-6 separator">
        <jhi-home-information></jhi-home-information>
    </div>
    <div class="col-12 col-md-6 col-lg-6 mt-sm-3 mt-md-0 order-sm-first order-md-last">
        <jhi-login-modal></jhi-login-modal>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <a href="https://status.solocked.com" mat-button class="understand" target="_blank">{{'home.status' | translate}}</a>
    </div>
</div>
