/**
General
 */
$font-color-primary: #555555;
$font-color-warning: rgb(244, 67, 54);
$loginColor: white;

$solocked-primary-color: #F8BE47;
$solocked-secondary-color: #F47E74;
$linear-gradient: linear-gradient(to bottom right, $solocked-primary-color, $solocked-secondary-color);


/**
Payments block
 */
$payment-block-color-input: #7B7B7B;
