/**
General
 */
$font-color-primary: #555555;
$font-color-warning: rgb(244, 67, 54);

$solocked-primary-color: #6039b6;
$solocked-secondary-color: #bf69d3;
$linear-gradient: linear-gradient(to right, $solocked-primary-color, $solocked-secondary-color);

/**
Navbar
 */
$navbar-background-login: #25635d;

/**
Payments block
 */
$payment-block-color-input: #7b7b7b;

$mat-solockedpalette: (
    50: #ece7f6,
    100: #cfc4e9,
    200: #b09cdb,
    300: #9074cc,
    400: #7857c1,
    500: #6039b6,
    600: #5833af,
    700: #4e2ca6,
    800: #44249e,
    900: #33178e,
    A100: #d0c4ff,
    A200: #a891ff,
    A400: #7f5eff,
    A700: #6b45ff,
    contrast:
        (
            50: #000000,
            100: #000000,
            200: #000000,
            300: #000000,
            400: #ffffff,
            500: #ffffff,
            600: #ffffff,
            700: #ffffff,
            800: #ffffff,
            900: #ffffff,
            A100: #000000,
            A200: #000000,
            A400: #ffffff,
            A700: #ffffff
        )
);
