@import './../../../content/scss/custom-variables';

.loadingContainerCustom {
    margin-left: 10px;
}

.loginInput {
    width: 70%;
    /deep/ .mat-input-element {
        color: $primary-color-home !important;
    }

    /deep/ .mat-form-field-label {
        color: $primary-color-home !important;
    }

    /deep/ .mat-focused .mat-form-field-label {
        color: $primary-color-home !important;
    }

    /deep/ .mat-form-field-underline {
        background-color: $primary-color-home !important;
    }
}

.buttonLogin {
    border-radius: 50px;
    border: 1px $primary-color-home solid;
    color: $primary-color-home;
    height: 50px;
}

.spinnerLogin {
    margin-right: 15px;
}

.loginArrow {
    margin-left: 12px;
    font-size: 20px;
}

.placeholder-loading {
    height: 75px;
}
